[Desktop Entry]
Type=Application
Name=GIF Player Control
Comment=Control running GIF overlays
Exec=gif-control
Terminal=false
Categories=Utility;Graphics;
